<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>com.amaker.servlet.ServletContextListenerText</listener-class>
  </listener>
  <listener>
  	<listener-class>com.amaker.servlet.ServletContextAttributeListenerTest</listener-class>
  </listener>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test01</servlet-name>
    <servlet-class>com.amaker.servlet.Test01</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Test01</servlet-name>
    <url-pattern>/servlet/Test01</url-pattern>
  </servlet-mapping>
</web-app>
