<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/jdbc_db</param-value>
  </context-param>
  <servlet>
  	<servlet-name>basic</servlet-name>
  	<servlet-class>com.amaker.servlet.BasicServlet</servlet-class>
  	
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>student0</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>basic</servlet-name>
  	<url-pattern>/basic</url-pattern>
  </servlet-mapping>
</web-app>
